<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
         <link rel="stylesheet" href="/publico/css/busca.css">
<link rel="stylesheet" href="/publico/css/home.css">
</head>

<body>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"> <strong class="sena"><i>SENA</i></strong><strong><i>BANK</i></strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto container-fluid justify-content-end">
      <li class="nav-item ">
        <a class="nav-link" href="/home">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/cadastro">Cadastrar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/dados">Dados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Squad</a>
      </li>
    </ul>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
    </form>
  </div>
</nav>
   <div class="corno">
    <form action="/busc/" method="post">
    <h1>Busca de clientes cadastrados</h1>
    <hr>

        <div class="form-group">
            <input class="form-control" type="text" name="id_do_cliente" id="">
            <br>
            <button type="submit" value="Buscar" class="btn btn-outline-warning">Buscar</button>
    </form>

    <br><br>

    <form action="/busque/" method="post">

    <h1>Busca de empréstimos</h1>
    <hr>
    
        <div class="form-group">
            <input  class="form-control" type="text" name="emprestimo" id="">
            <br>
            <button type="submit" value="Buscar" class="btn btn-outline-warning">Buscar</button>
    </form>

    <br><br>

    <form action="/buscaA/" method="post">

    <h1>Busca de agência</h1>
    <hr>
        <div class="form-group">
            <input   class="form-control" type="text" name="id_da_agencia" id="">
            <br>
            <button type="submit" value="Buscar" class="btn btn-outline-warning">Buscar</button>
    </form>

    <br><br>

    <form action="/buscaF/" method="post">

    <h1>Busca de funcionários</h1>
    <hr>
        <div class="form-group">
            <input   class="form-control" type="text" name="id_funcionario" id="">
             <button type="submit" value="Buscar" class="btn btn-outline-warning">Buscar</button>
    </form>

    <br><br>

    <form action="/buscacart/" method="post">

    <h1>Busca de cartões</h1>
    <hr>
    
        <div class="form-group">
            <input  class="form-control" type="text" name="id_do_cartao" id="iddocartao">
            <br>
             <button type="submit" value="Buscar" class="btn btn-outline-warning">Buscar</button>
        </div>
    </form>

    <br><br>

    <form action="/buscconta/" method="post">

    <h1>Busca de contas</h1>
    <hr>
        <div class="form-group">
            <input  class="form-control" type="text" name="id_da_conta" id="">
            <br>
             <button type="submit" value="Buscar" class="btn btn-outline-warning">Buscar</button>
        </div>
    </form>
    </div>


    

         <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>


</body>

</html>