body {
    background-color: rgb(15, 15, 15);
}

header {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.margem h1 {
    padding-left: em;
}

h2 {
    color: white;
    text-align: center;
    padding-top: 4em;
    font-size: 80px;
}

.bg-light {
    background-color: white !important;
}

.bank {
    color: #ffa700;
}

.sena {
    color: #ffa700;
}

.btn {
    color: #fff;
    border-color: #ffa700;
    background-color: #ffa700;
}

.navbar-brand {
    color: black;
    font-size: 40px;
}

.btn:focus,
.btn:hover {
    text-decoration: none;
}

.btn-outline-success {
    color: white;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #ffa700;
    border: 2px solid black;

}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, .9);
}

.navbar-light .navbar-nav .nav-link {
    color: #ffa700;
    font-size: 18px;
    padding-left: 20px;
}